body {
	background-color: rgb(255, 255, 255);
	color: #AC1300;
	font-size: 30px; 
	font-family: courier; 
}

.fab {
  color: black;
}
.fab:hover {
  text-decoration: none;
  color: #AC1300; 
}
#banner{
	text-align: center;
	background-image: url(https://i.pinimg.com/originals/e4/ba/91/e4ba91f92a40c92377bd38f7ede1e6b0.png);
	background-size: cover;
	padding: 50px; 
}

h1{
	font-family: courier; 
	color: #AC1300; 
	font-size: 50px 
}
h2{
font-family: courier; 
	color: #AC1300; 
	font-weight: lighter;
	font-size: 20px 
}
h3{
	font-family: courier; 
	color: #AC1300; 
	font-weight: lighter;
	font-size: 10px 
}

